## Group OpenAI Key
OPENAI_API_KEY=<YOUR_OPENAI_APIKEY>


## S3 credentials
S3_ENDPOINT=<YOUR_S3_ENDPOINT>
S3_ACCESS_KEY=<YOUR_S3_ACCESSKEY>
S3_SECRET_KEY=<YOUR_S3_SECRETKEY>
S3_REGION="garage"
S3_BUCKETNAME="ecommerce-logs"


## Database connections
## DSN convention: "postgresql://<USERNAME>:<PASSWORD>@<SERVER_IP>:<SERVER_PORT>/<DATABASE_NAME>?sslmode=disable"

MAINTENANCE_DB_DSN="postgresql://<USERNAME>:<PASSWORD>@<SERVER_IP>:<SERVER_PORT>/postgres?sslmode=disable"
PRODUCTS_DB_DSN="postgresql://<USERNAME>:<PASSWORD>@<SERVER_IP>:<SERVER_PORT>/products_db?sslmode=disable"
CART_DB_DSN="postgresql://<USERNAME>:<PASSWORD>@<SERVER_IP>:<SERVER_PORT>/cart_db?sslmode=disable"
ORDER_INVENTORY_DB_DSN="postgresql://<USERNAME>:<PASSWORD>@<SERVER_IP>:<SERVER_PORT>/order_inventory_db?sslmode=disable"
RETURNS_DB_DSN="postgresql://postgres:test1ng0nly@postgres:5432/returns_db?sslmode=disable"
CHECKPOINTER_DB_DSN="postgresql://<USERNAME>:<PASSWORD>@<SERVER_IP>:<SERVER_PORT>/checkpoints_db?sslmode=disable"
USERS_DB_DSN="postgresql://<USERNAME>:<PASSWORD>@<SERVER_IP>:<SERVER_PORT>/users_db?sslmode=disable"


## Webapp secrets (Required)
CHAINLIT_AUTH_SECRET="<YOUR_CHAINLIT_SECRET>"
DATABASE_URL="postgresql://<USERNAME>:<PASSWORD>@<SERVER_IP>:<SERVER_PORT>?sslmode=disable"
GUARDRAILS_API_KEY="<YOUR_GUARDRAILS_APIKEY>"