langchain
langchain-openai
langchain-core
langgraph
langgraph-checkpoint-sqlite
python-dotenv
ddgs
openai
pydantic
pydantic-core
fastapi
uvicorn[standard]
chainlit
# langchain-ollama - optional for local testing