# --extra-index-url https://download.pytorch.org/whl/cpu

langchain
langchain-openai
langchain-core
langgraph
langgraph-checkpoint-postgres
guardrails-ai
# torch
# transformers
python-dotenv
ddgs
# cached-path
# rich
pydantic
prisma
boto3
asyncpg
psycopg[binary]
fastapi
uvicorn[standard]
chainlit
bcrypt
pip install git+https://github.com/guardrails-ai/sainatha_prompt_injection_detector.git@main

# langgraph-checkpoint-sqlite
# openai
# pydantic-core
# langchain-ollama - optional for local testing
