langchain
langchain-openai
langchain-core
langgraph
langgraph-checkpoint-postgres
python-dotenv
ddgs
pydantic
psycopg[binary]
s3-log-handler
# langgraph-checkpoint-sqlite
# openai
# pydantic-core
fastapi
uvicorn[standard]
chainlit
# langchain-ollama - optional for local testing
dotenvx
